@{
    ViewData["Title"] = "My Posts Page";
    Layout = "_Layout";
}

@model List<Post>

<!-- HOME -->
<section id="home" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-12">
                <div class="home-info">
                    <h1>Create your first blog <br> with us!</h1>
                    <a asp-controller="post" asp-action="index" class="btn section-btn smoothScroll">Start posting</a>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="home-video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="853" height="480" src="https://www.youtube.com/embed/5X4RfVPbcYE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- BLOG -->
<section id="blog" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="container" style="display: flex; justify-content: space-between;">
                <h1 style="display: inline;">Your blogs </h1>
                <a asp-controller="post" asp-action="addpost" style="margin-top: 2rem; height: 40px; font-size: large;" class="btn btn-success">
                    <span>+ Add new</span>
                </a>
            </div>
            <br>

            @foreach (var p in Model)
            {
                <div class="col-md-6 col-sm-6">
                    <!-- BLOG THUMB -->
                    <div class="media blog-thumb">
                        <div class="media-object media-left">
                            @{
                                string imageSource = "";
                                if (p.ImageFileName == "" || p.ImageFileName is null)
                                {
                                    imageSource = "~/images/blog-image1.jpg";
                                }
                                else
                                {
                                    imageSource = "~/images/" + p.ImageFileName;
                                }
                            }
                            <a href="blog-detail.html"><img src="@imageSource" asp-append-version="true" class="img-responsive" alt=""></a>
                        </div>
                        <div class="media-body blog-info">
                            <small><i class="fa fa-clock-o"></i>@p.CreatedTime</small>
                            <h3><a href="blog-detail.html">@p.Title</a></h3>
                            @{
                                string body = "";
                                if (p.Body.Length > 60)
                                {
                                    body = p.Body.Substring(0, 61) + "...";
                                }
                                else
                                {
                                    body = p.Body;
                                }
                            }
                            <p>@body</p>
                            <div>
                                <a asp-controller="post" asp-action="editpost" asp-route-id="@p.Id" class="btn btn-primary">Edit</a>
                                <a asp-controller="post" asp-action="deletepost" asp-route-id="@p.Id" onclick="return confirm('Are you sure delete this post?');" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>